<%- include('header') %>
  <div class="container">
    <!-- Titre -->
    <div class="row d-flex justify-content-center text-center">
      <div class="col-xl-12 col-md-12 mt-3">
        <div class="card">
          <div class="card-body">
            <h1 class="">Pharmacie Sautheuhz</h1>
          </div>
        </div>
      </div>
    </div>

    <!-- Chart -->
    <div class="row mt-3">
      <div class="col-xl-12 col-md-12 mt-3">
        <div class="card">
          <div class="card-body titreChart">
            <h5 class="card-title">Stock des médicaments</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
          <canvas id="myChart3" class="m-3"></canvas>
        </div>
      </div>
    </div>

    <script>
      var ctx = document.getElementById('myChart3').getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: <%- JSON.stringify(lesMeds) %>,
          datasets: [{
            label: 'Stock de doliprane',
            data: <%- lesDonnesMeds %>,
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)'
            ],
            borderColor: [
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)'
            ],
            borderWidth: 1
          }],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          },
          plugins: {
            legend: {
              display: false,
              position: 'bottom',
              align: 'start'
            }
          }
        }
      });
    </script>

    <div class="row">
      <div class="col-xl-6 col-md-12 mt-5">
        <div class="card">
          <div class="card-body titreChart">
            <h5 class="card-title">Stock à prevoir pour les 6 prochain mois</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's
              content.</p>
          </div>
          <canvas id="myChart" class="m-3"></canvas>
        </div>
      </div>

      <div class="col-xl-6 col-md-12 mt-5">
        <div class="card">
          <div class="card-body titreChart">
            <h5 class="card-title">Pourcentage des pathologies</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's
              content.</p>
          </div>
          <canvas id="myChart2" class="m-3"></canvas>
        </div>
      </div>
    </div>
  </div>
  <%- include('footer') %>