<%- include('header') %>

    <div class="container">
        <div class="row d-flex justify-content-center text-center">
            <div class="col-xl-12 col-md-12 mt-3">
                <div class="card">
                    <div class="card-body">
                        <h1 class="">Ajouter une ordonnance</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <form action="/sautheuhz/form_ordonnance" class="container" id="needs-validation" novalidate>
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-12">
                        <div class="form-group">
                            <label class="text-inverse" for="selectClient">Client</label>
                            <select class="custom-select d-block form-control" id="selectClient" name="selectClient"
                                required>
                                <option value="" disabled selected>Choisir un client</option>
                            </select>
                            <div class="invalid-feedback">
                                Veuillez fournir un(e) client(e) valide.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-12">
                        <div class="form-group">
                            <label class="text-inverse" for="selectMedecin">Médecin</label>
                            <select class="custom-select d-block form-control" id="selectMedecin" name="selectMedecin"
                                required>
                                <option value="" disabled selected>Choisir un médecin</option>
                            </select>
                            <div class="invalid-feedback">
                                Veuillez fournir un médecin valide.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-12">
                        <div class="form-group">
                            <label class="text-inverse" for="selectPathologie">Pathologie</label>
                            <select class="custom-select d-block form-control" id="selectPathologie"
                                name="selectPathologie" required>
                                <option value="" disabled selected>Choisir une pathologie</option>
                            </select>
                            <div class="invalid-feedback">
                                Veuillez fournir un(e) client(e) valide.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-12">
                        <div class="form-group">
                            <label class="text-inverse" for="inputDateDebut">Date de préscription</label>
<<<<<<< HEAD
                            <input type="date" class="form-control" id="inputDateDebut" name="inputDateDebut" required>
=======
                            <input type="date" class="form-control" id="inputDateDebut" name="inputDateDebut"
                                min="1997-01-01" max="2030-12-31" required>
>>>>>>> origin/sefa
                            <div class="invalid-feedback">
                                Veuillez fournir une date de préscription valide.
                            </div>
                        </div>
                    </div>
                </div>

<<<<<<< HEAD
                <div class="row">
                    <div class="input-group control-group after-add-more">
                        <div class="col-lg-3 col-sm-3 col-3">
                            <div class="form-group">
                                <label for="selectMedicament" class="form-label required">Médicaments(s)</label>
                                <select name="selectMedicament[]" id="selectMedicament" class="form-control" required>
                                    <option value="" disabled selected>Choisir un médicament</option>
                                </select>
                                <div class="invalid-feedback">
                                    Veuillez fournir un médicament valide.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-3">
                            <div class="form-group">
                                <label for="selectQte" class="form-label required">Quantité</label>
                                <div class="input-group">
                                    <select name="selectQte[]" id="selectQte" class="form-control" required>
                                        <option value="" disabled selected>Choisir une quantité</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Veuillez fournir une quantité valide.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-3">
                            <div class="form-group">
                                <label for="selectFrequence" class="form-label required">Fréquence</label>
                                <div class="input-group">
                                    <select name="selectFrequence[]" id="selectFrequence" class="form-control" required>
                                        <option value="" disabled selected>Choisir une fréquence</option>
=======
                <!-- DYNAMIQUE : Médicament - Quantité - Fréquence - Date de fin de préscription -->
                <div class="formDynamique">
                    <div class="entry mb-5">
                        <fieldset class="border p-2">
                            <legend class="w-auto">Préscription n°<span id="compteur">1</span></legend>

                            <div class="row">
                                <div class="form-group  col-sm-12 col-xl-6">
                                    <label for="selectMedicament" class="form-label required">Médicaments(s)</label>
                                    <select name="selectMedicament[]" id="selectMedicament" class="form-control"
                                        required>
                                        <option value="" disabled selected>Choisir un médicament</option>
                                        <option value="test">test</option>
>>>>>>> origin/sefa
                                    </select>
                                    <div class="invalid-feedback">
                                        Veuillez fournir un médicament valide.
                                    </div>
                                </div>
<<<<<<< HEAD
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-3">
                            <div class="form-group">
                                <label for="selectDateMed" class="form-label required">Date de fin de
                                    préscription</label>
                                <div class="input-group">
                                    <input type="date" class="form-control" id="selectDateMed" name="selectDateMed[]"
                                        required>
                                    <span class="input-group-btn">
                                        <button class="btn btn-success btn-add add-more"
                                            type="button"><span>+</span></button>
                                    </span>
                                    <div class="invalid-feedback">
                                        Veuillez fournir une date valide.
=======

                                <div class="form-group  col-sm-12 col-xl-6">
                                    <label for="selectQte" class="form-label required">Quantité</label>
                                    <div class="input-group">
                                        <input type="number" name="selectQte[]" id="selectQte" class="form-control"
                                            placeholder="Quantité" min="1" max="20" required>
                                        <div class="invalid-feedback">
                                            Veuillez fournir une quantité valide.
                                        </div>
>>>>>>> origin/sefa
                                    </div>
                                </div>
                            </div>

<<<<<<< HEAD
                <div class="row copy hide">
                    <div class="input-group control-group">
                        <div class="col-lg-3 col-sm-4 col-3">
                            <div class="form-group">
                                <label for="selectMedicament" class="form-label required">Médicaments(s)</label>
                                <select name="selectMedicament[]" id="selectMedicament" class="form-control" required>
                                    <option value="" disabled selected>Choisir un médicament</option>
                                </select>
                                <div class="invalid-feedback">
                                    Veuillez fournir un médicament valide.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-3">
                            <div class="form-group">
                                <label for="selectQte" class="form-label required">Quantité</label>
                                <div class="input-group">
                                    <select name="selectQte[]" id="selectQte" class="form-control" required>
                                        <option value="" disabled selected>Choisir une quantité</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Veuillez fournir une quantité valide.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-3">
                            <div class="form-group">
                                <label for="selectFrequence" class="form-label required">Fréquence</label>
                                <div class="input-group">
                                    <select name="selectFrequence[]" id="selectFrequence" class="form-control" required>
                                        <option value="" disabled selected>Choisir une fréquence</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Veuillez fournir une fréquence valide.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-3">
                            <div class="form-group">
                                <label for="selectDateMed" class="form-label required">Date de fin de
                                    préscription</label>
                                <div class="input-group">
                                    <input type="date" class="form-control" id="selectDateMed" name="selectDateMed[]"
                                        required>
=======
                            <div class="row">
                            <div class="form-group  col-sm-12 col-xl-6">
                                <label for="inputFrequence" class="form-label required">Fréquence / jour</label>
                                <input type="number" name="inputFrequence[]" id="inputFrequence" class="form-control"
                                    placeholder="Fréquence / jour" min="1" max="10" required>
                                <div class="invalid-feedback">
                                    Veuillez fournir une fréquence valide.
                                </div>
                            </div>

                            <div class="form-group  col-sm-12 col-xl-6">
                                <label for="selectDateMed" class="form-label required">Fin de
                                    préscription</label>
                                <div class="input-group">
                                    <input type="date" class="form-control" id="selectDateMed" name="selectDateMed[]"
                                        min="1997-01-01" max="2030-12-31" required>
>>>>>>> origin/sefa
                                    <span class="input-group-btn">
                                        <button class="btn btn-success btn-add btnevent" type="button">
                                            <span>+</span>
                                        </button>
                                    </span>
                                    <div class="invalid-feedback">
                                        Veuillez fournir une date valide.
                                    </div>
                                </div>
                            </div>
                            </div>

                    </div>
                    </fieldset>
                </div>

                <hr>
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-12 text-center">
                        <button class="btn btn-primary" style="width: 100%;" type="submit">Valider le
                            formulaire</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <%- include('footer') %>