<%- include('header') %>

    <div class="container">
        <!-- Titre -->
        <div class="row d-flex justify-content-center text-center">
            <div class="col-xl-12 col-md-10 mt-3">
                <div class="card">
                    <div class="card-body">
                        <h1 class="">Ajouter du stock</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <form action="/sautheuhz/form_client" class="container" id="needs-validation" novalidate>
                <!-- Médicament et quantité -->
                <div class="row">
                    <div class="input-group control-group after-add-more">
                        <div class="col-lg-6 col-sm-6 col-6">
                            <div class="form-group">
                                <label for="selectMed" class="form-label required">Médicament</label>
                                <div class="input-group">
                                    <select name="selectMed[]" id="selectMed" class="form-control" required>
                                        <option value="" disabled selected>Choisir un médicament</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Veuillez fournir un médicament valide.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-6">
                            <div class="form-group">
                                <label for="inputQte" class="form-label required">Quantité</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" id="inputQte" name="inputQte[]"
                                        placeholder="Quantité" required>
                                    <span class="input-group-btn">
                                        <button class="btn btn-success btn-add add-more"
                                            type="button"><span>+</span></button>
                                    </span>
                                    <div class="invalid-feedback">
                                        Veuillez fournir une quantité valide.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- DYNAMIQUE : Médicament et quantité -->
                <div class="row copy hide">
                    <div class="input-group control-group">
                        <div class="col-lg-6 col-sm-6 col-6">
                            <div class="form-group">
                                <label for="selectMed" class="form-label required">Médicament</label>
                                <div class="input-group">
                                    <select name="selectMed[]" id="selectMed" class="form-control" required>
                                        <option value="" disabled selected>Choisir un médicament</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Veuillez fournir un médicament valide.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-6">
                            <div class="form-group">
                                <label for="inputQte" class="form-label required">Quantité</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" id="inputQte" name="inputQte[]"
                                        placeholder="Quantité" required>
                                    <span class="input-group-btn">
                                        <button class="btn btn-danger remove" type="button"><i
                                                class="glyphicon glyphicon-remove"></i> x</button>
                                    </span>
                                    <div class="invalid-feedback">
                                        Veuillez fournir une quantité valide.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Validation du formulaire -->
                <hr>
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-12 text-center">
                        <button class="btn btn-primary" style="width: 100%;" type="submit">Valider le
                            formulaire</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <%- include('footer') %>