html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 120px;
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
  }
.navbar-brand {
    max-height: 50px;
    max-width: 50px;
}

.navbar-brand img{
    height: 70px;
    margin-top: -13px;
    margin-left: -20px;
}

.nav-item {
    margin-left: 20px;
    font-size: x-large;
}
