@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');

html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 120px;
    font-family: 'Montserrat', sans-serif;  
    color: #3A3A3A;
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
  }
.navbar-brand {
    max-height: 50px;
    max-width: 50px;
}

.navbar-brand img{
    height: 70px;
    margin-top: -13px;
}

.nav-item {
    margin-left: 20px;
    font-size: x-large;
}

.hide {
  display: none;
}

#inputPrenom, #inputVille, #inputAdresse {
  text-transform: capitalize;
}

.invalid-feedback {
  color: red;
  font-size: 1rem;
}

.input-error {
  border: red 1px solid;
}


label.error{
  color: red;
  font-size: 1rem;
  display: block;
  margin-top: 5px;
}

input.error, select.error {
  border: 1px solid red;
  font-weight: 300;
  color: red;
}

input.error::placeholder {
  color: red;
}

input.error:focus, select.error:focus{
  border-color: #FF0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

input.valid.success-alert, select.valid.success-alert {
  border: 2px solid #4CAF50;
  color: green;
}

input.valid.success-alert:focus, select.valid.success-alert:focus {
  border-color: #4CAF50;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(6, 138, 17, 0.6);
}

.btn-primary, .btn-primary:hover, .btn-secondary, .btn-danger, .btn-success{
  color: white;
  cursor: pointer;
}

legend {
  width:inherit; /* Or auto */
  padding:0 10px; /* To give a bit of padding on the left and right */
  border-bottom:none;
}

.rounded-0 {
  height: 20px;
  width: 20px;
  margin-left: 0px;
}

.form-control:focus {
  border-color: #FF7548ff;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255, 117, 72, 1);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255, 117, 72, 1);
}